.DS_Store
.vscode/
*.o
/src/**/*.log
/build/
/build_test/
/release/
/dist/
temp/
cache/
/.build_cached
/static/configs/Saves/GuestProfile/

src/**/batmon
!batmon/
src/**/bootScreen
!bootScreen/
src/**/chargingState
!chargingState/
src/**/gameSwitcher
!gameSwitcher/
src/**/infoPanel
!infoPanel/
src/**/installUI
!installUI/
src/**/prompt
!prompt/
src/**/mainUiBatPerc
!mainUiBatPerc/
src/**/packageManager
src/packageManager/data/
!packageManager/
src/**/keymon
!keymon/
src/**/playActivity
!playActivity/
src/**/playActivityUI
!playActivityUI/
src/**/themeSwitcher
!themeSwitcher/
src/**/tweaks
!tweaks/
src/**/sendkeys
!sendkeys/
src/**/setState
!setState/
src/**/renameRom
!renameRom/
test/**/test
!test/
src/**/randomGamePicker
!randomGamePicker/
src/**/read_uuid
!read_uuid/
src/**/detectKey
!detectKey/
src/**/easter
!easter/
src/**/axp
!axp/
src/**/batteryMonitorUI
!batteryMonitorUI/
