# only ignore all extension less binary file under src
src/**/**
!src/**/
!src/*.*

# put other need ignore
src/**/*.o
src/**/*.exe
src/**/*.log
.DS_Store
.vscode/
*.o
/build/
/build_test/
/release/
/dist/
temp/
cache/
/.build_cached
/static/configs/Saves/GuestProfile/
