# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
*.sh text eol=lf
*.txt text eol=lf
*.port text eol=lf
*.notfound text eol=lf
*.conf text eol=lf

static/build/.tmp_update/updater text eol=lf
static/dist/.tmp_update/updater text eol=lf
static/dist/miyoo/app/.tmp_update/updater text eol=lf
static/dist/miyoo/app/MainUI text eol=lf
static/dist/miyoo354/app/MainUI text eol=lf
static/build/.tmp_update/bin/shutdown text eol=lf
static/configs/.tmp_update/config/passwd text eol=lf
static/configs/.tmp_update/config/group text eol=lf
