.DS_Store
.vscode/
*.o
/build/
/release/
/package/
temp/
cache/
/.build_cached
/static/configs/Saves/GuestProfile/

bootScreen
!bootScreen/
chargingState
!chargingState/
gameSwitcher
!gameSwitcher/
infoPanel
!infoPanel/
installUI
!installUI/
prompt
!prompt/
lastGame
!lastGame/
mainUiBatPerc
!mainUiBatPerc/
onionInstaller
!onionInstaller/
onionKeymon
!onionKeymon/
playActivity
!playActivity/
playActivityUI
!playActivityUI/
themeSwitcher
!themeSwitcher/
