#device_dpi_pclock_low 31250000
#device_fb_fastset no
#device_hdmi_pclock_low 0
device_joystick none
device_keyboard sdl
device_video sdl
dir_artwork /mnt/SDCARD/Roms/ADVMAME/Imgs
dir_image /mnt/SDCARD/Roms/ADVMAME/Imgs
dir_rom /mnt/SDCARD/Roms/ADVMAME
dir_sample /mnt/SDCARD/BIOS/.advance/sample
dir_snap /mnt/SDCARD/Roms/ADVMAME/Snaps
display_flipx yes
display_flipy yes
display_magnify 1
display_resizeeffect none
input_map[p2_up] 
input_map[p2_down] 
input_map[p2_left] 
input_map[p2_right] 
input_map[p2_button1] 
input_map[p2_button2] 
input_map[p2_button3] 
input_map[p2_button4] 
input_map[p2_dialx] 
input_map[p2_dialy] 
input_map[p2_lightgunx] 
input_map[p2_lightguny] 
input_map[p2_mousex] 
input_map[p2_mousey] 
input_map[p2_paddlex] 
input_map[p2_paddley] 
input_map[p2_pedalbrake] 
input_map[p2_pedalgas] 
input_map[p2_pedalother] 
input_map[p2_stickx] 
input_map[p2_sticky] 
input_map[p2_stickz] 
input_map[p2_trackballx] 
input_map[p2_trackbally] 
input_map[p3_dialx] 
input_map[p3_dialy] 
input_map[p3_lightgunx] 
input_map[p3_lightguny] 
input_map[p3_mahjong_a] 
input_map[p3_mahjong_b] 
input_map[p3_mahjong_bet] 
input_map[p3_mahjong_c] 
input_map[p3_mahjong_chance] 
input_map[p3_mahjong_chi] 
input_map[p3_mahjong_d] 
input_map[p3_mahjong_double_up] 
input_map[p3_mahjong_e] 
input_map[p3_mahjong_f] 
input_map[p3_mahjong_flip_flop] 
input_map[p3_mahjong_g] 
input_map[p3_mahjong_h] 
input_map[p3_mahjong_i] 
input_map[p3_mahjong_j] 
input_map[p3_mahjong_k] 
input_map[p3_mahjong_kan] 
input_map[p3_mahjong_l] 
input_map[p3_mahjong_m] 
input_map[p3_mahjong_n] 
input_map[p3_mahjong_pon] 
input_map[p3_mahjong_reach] 
input_map[p3_mahjong_ron] 
input_map[p3_mahjong_score] 
input_map[p3_mousex] 
input_map[p3_mousey] 
input_map[p3_paddlex] 
input_map[p3_paddley] 
input_map[p3_pedalbrake] 
input_map[p3_pedalgas] 
input_map[p3_pedalother] 
input_map[p3_stickx] 
input_map[p3_sticky] 
input_map[p3_stickz] 
input_map[p3_trackballx] 
input_map[p3_trackbally] 
input_map[p3_up] 
input_map[p3_down] 
input_map[p3_left] 
input_map[p3_right] 
input_map[p3_button1] 
input_map[p3_button2] 
input_map[p3_button3] 
input_map[p4_dialx] 
input_map[p4_dialy] 
input_map[p4_lightgunx] 
input_map[p4_lightguny] 
input_map[p4_mahjong_a] 
input_map[p4_mahjong_b] 
input_map[p4_mahjong_bet] 
input_map[p4_mahjong_c] 
input_map[p4_mahjong_chance] 
input_map[p4_mahjong_chi] 
input_map[p4_mahjong_d] 
input_map[p4_mahjong_double_up] 
input_map[p4_mahjong_e] 
input_map[p4_mahjong_f] 
input_map[p4_mahjong_flip_flop] 
input_map[p4_mahjong_g] 
input_map[p4_mahjong_h] 
input_map[p4_mahjong_i] 
input_map[p4_mahjong_j] 
input_map[p4_mahjong_k] 
input_map[p4_mahjong_kan] 
input_map[p4_mahjong_l] 
input_map[p4_mahjong_m] 
input_map[p4_mahjong_n] 
input_map[p4_mahjong_pon] 
input_map[p4_mahjong_reach] 
input_map[p4_mahjong_ron] 
input_map[p4_mahjong_score] 
input_map[p4_mousex] 
input_map[p4_mousey] 
input_map[p4_paddlex] 
input_map[p4_paddley] 
input_map[p4_pedalbrake] 
input_map[p4_pedalgas] 
input_map[p4_pedalother] 
input_map[p4_stickx] 
input_map[p4_sticky] 
input_map[p4_stickz] 
input_map[p4_trackballx] 
input_map[p4_trackbally] 
input_map[p4_up] 
input_map[p4_down] 
input_map[p4_left] 
input_map[p4_right] 
input_map[p4_button1] 
input_map[p4_button2] 
input_map[p4_button3] 
input_map[p5_dialx] 
input_map[p5_dialy] 
input_map[p5_lightgunx] 
input_map[p5_lightguny] 
input_map[p5_mahjong_a] 
input_map[p5_mahjong_b] 
input_map[p5_mahjong_bet] 
input_map[p5_mahjong_c] 
input_map[p5_mahjong_chance] 
input_map[p5_mahjong_chi] 
input_map[p5_mahjong_d] 
input_map[p5_mahjong_double_up] 
input_map[p5_mahjong_e] 
input_map[p5_mahjong_f] 
input_map[p5_mahjong_flip_flop] 
input_map[p5_mahjong_g] 
input_map[p5_mahjong_h] 
input_map[p5_mahjong_i] 
input_map[p5_mahjong_j] 
input_map[p5_mahjong_k] 
input_map[p5_mahjong_kan] 
input_map[p5_mahjong_l] 
input_map[p5_mahjong_m] 
input_map[p5_mahjong_n] 
input_map[p5_mahjong_pon] 
input_map[p5_mahjong_reach] 
input_map[p5_mahjong_ron] 
input_map[p5_mahjong_score] 
input_map[p5_mousex] 
input_map[p5_mousey] 
input_map[p5_paddlex] 
input_map[p5_paddley] 
input_map[p5_pedalbrake] 
input_map[p5_pedalgas] 
input_map[p5_pedalother] 
input_map[p5_stickx] 
input_map[p5_sticky] 
input_map[p5_stickz] 
input_map[p5_trackballx] 
input_map[p5_trackbally] 
input_map[p5_up] 
input_map[p5_down] 
input_map[p5_left] 
input_map[p5_right] 
input_map[p6_dialx] 
input_map[p6_dialy] 
input_map[p6_lightgunx] 
input_map[p6_lightguny] 
input_map[p6_mahjong_a] 
input_map[p6_mahjong_b] 
input_map[p6_mahjong_bet] 
input_map[p6_mahjong_c] 
input_map[p6_mahjong_chance] 
input_map[p6_mahjong_chi] 
input_map[p6_mahjong_d] 
input_map[p6_mahjong_double_up] 
input_map[p6_mahjong_e] 
input_map[p6_mahjong_f] 
input_map[p6_mahjong_flip_flop] 
input_map[p6_mahjong_g] 
input_map[p6_mahjong_h] 
input_map[p6_mahjong_i] 
input_map[p6_mahjong_j] 
input_map[p6_mahjong_k] 
input_map[p6_mahjong_kan] 
input_map[p6_mahjong_l] 
input_map[p6_mahjong_m] 
input_map[p6_mahjong_n] 
input_map[p6_mahjong_pon] 
input_map[p6_mahjong_reach] 
input_map[p6_mahjong_ron] 
input_map[p6_mahjong_score] 
input_map[p6_mousex] 
input_map[p6_mousey] 
input_map[p6_paddlex] 
input_map[p6_paddley] 
input_map[p6_pedalbrake] 
input_map[p6_pedalgas] 
input_map[p6_pedalother] 
input_map[p6_stickx] 
input_map[p6_sticky] 
input_map[p6_stickz] 
input_map[p6_trackballx] 
input_map[p6_trackbally] 
input_map[p6_up] 
input_map[p6_down] 
input_map[p6_left] 
input_map[p6_right] 
input_map[p7_up] 
input_map[p7_down] 
input_map[p7_left] 
input_map[p7_right] 
input_map[p8_up] 
input_map[p8_down] 
input_map[p8_left] 
input_map[p8_right] 
input_map[p7_dialx] 
input_map[p7_dialy] 
input_map[p7_lightgunx] 
input_map[p7_lightguny] 
input_map[p7_mahjong_a] 
input_map[p7_mahjong_b] 
input_map[p7_mahjong_bet] 
input_map[p7_mahjong_c] 
input_map[p7_mahjong_chance] 
input_map[p7_mahjong_chi] 
input_map[p7_mahjong_d] 
input_map[p7_mahjong_double_up] 
input_map[p7_mahjong_e] 
input_map[p7_mahjong_f] 
input_map[p7_mahjong_flip_flop] 
input_map[p7_mahjong_g] 
input_map[p7_mahjong_h] 
input_map[p7_mahjong_i] 
input_map[p7_mahjong_j] 
input_map[p7_mahjong_k] 
input_map[p7_mahjong_kan] 
input_map[p7_mahjong_l] 
input_map[p7_mahjong_m] 
input_map[p7_mahjong_n] 
input_map[p7_mahjong_pon] 
input_map[p7_mahjong_reach] 
input_map[p7_mahjong_ron] 
input_map[p7_mahjong_score] 
input_map[p7_mousex] 
input_map[p7_mousey] 
input_map[p7_paddlex] 
input_map[p7_paddley] 
input_map[p7_pedalbrake] 
input_map[p7_pedalgas] 
input_map[p7_pedalother] 
input_map[p7_stickx] 
input_map[p7_sticky] 
input_map[p7_stickz] 
input_map[p7_trackballx] 
input_map[p7_trackbally] 
input_map[p8_dialx] 
input_map[p8_dialy] 
input_map[p8_lightgunx] 
input_map[p8_lightguny] 
input_map[p8_mahjong_a] 
input_map[p8_mahjong_b] 
input_map[p8_mahjong_bet] 
input_map[p8_mahjong_c] 
input_map[p8_mahjong_chance] 
input_map[p8_mahjong_chi] 
input_map[p8_mahjong_d] 
input_map[p8_mahjong_double_up] 
input_map[p8_mahjong_e] 
input_map[p8_mahjong_f] 
input_map[p8_mahjong_flip_flop] 
input_map[p8_mahjong_g] 
input_map[p8_mahjong_h] 
input_map[p8_mahjong_i] 
input_map[p8_mahjong_j] 
input_map[p8_mahjong_k] 
input_map[p8_mahjong_kan] 
input_map[p8_mahjong_l] 
input_map[p8_mahjong_m] 
input_map[p8_mahjong_n] 
input_map[p8_mahjong_pon] 
input_map[p8_mahjong_reach] 
input_map[p8_mahjong_ron] 
input_map[p8_mahjong_score] 
input_map[p8_mousex] 
input_map[p8_mousey] 
input_map[p8_paddlex] 
input_map[p8_paddley] 
input_map[p8_pedalbrake] 
input_map[p8_pedalgas] 
input_map[p8_pedalother] 
input_map[p8_stickx] 
input_map[p8_sticky] 
input_map[p8_stickz] 
input_map[p8_trackballx] 
input_map[p8_trackbally] 
input_map[start2] 
input_map[start3] 
input_map[start4] 
input_map[coin2] 
input_map[coin3] 
input_map[coin4] 
misc_bios 9
misc_cheat yes
misc_quiet yes

record_sound_time 10
record_video_time 10
script_knocker on(kdb, 0b100); wait(!event()); off(kdb, 0b100);
script_led3 
#sound_latency 0.05
sound_mode mono
ui_color[interface] 7f7f7f 000000
ui_color[select] ffffff ff0000
ui_color[tag] 00ff00 000000
ui_font /mnt/SDCARD/BIOS/.advance/BinggraeMelona.ttf
ui_fontsize 17
ui_translucency 0.9
device_alsa_device sdl
device_color_bgr15 no
device_color_bgr8 no
sound_latency 0.10
sound_normalize no
device_video_clock 10-180 / 30-80 / 50-70
input_map[start1] keyboard[0,enter]
input_map[coin1] keyboard[0,rcontrol]
input_map[ui_select] keyboard[0,space]
display_mode sdl_320x240
vertical/display_ror yes
vertical/input_map[p1_up] keyboard[0,right]
vertical/input_map[p1_down] keyboard[0,left]
vertical/input_map[p1_left] keyboard[0,up]
vertical/input_map[p1_right] keyboard[0,down]
input_map[p1_doubleright_up] 
input_map[p1_doubleright_down] 
input_map[p1_doubleright_left] 
input_map[p1_doubleright_right] 
input_map[p1_doubleleft_up] 
input_map[p1_doubleleft_down] 
input_map[p1_doubleleft_left] 
input_map[p1_doubleleft_right] 
input_map[ui_frameskip_dec] keyboard[0,rcontrol] keyboard[0,tab]
input_map[ui_frameskip_inc] keyboard[0,rcontrol] keyboard[0,backspace]
input_map[ui_record_stop] keyboard[0,enter]
input_map[ui_on_screen_display] keyboard[0,rcontrol] keyboard[0,lalt]
input_map[ui_configure] keyboard[0,rcontrol] keyboard[0,enter]
input_map[ui_pause] keyboard[0,enter] keyboard[0,up]
input_map[ui_show_gfx] 
input_map[ui_show_fps] keyboard[0,rcontrol] keyboard[0,lshift]
input_map[ui_snapshot] 
input_map[ui_up] keyboard[0,up]
input_map[ui_down] keyboard[0,down]
input_map[ui_left] keyboard[0,left]
input_map[ui_right] keyboard[0,right]
input_map[ui_show_profiler] 
input_map[ui_save_state] keyboard[0,rcontrol] keyboard[0,e]
input_map[ui_load_state] keyboard[0,rcontrol] keyboard[0,t]
input_map[ui_turbo] 
input_map[ui_startup] 
input_map[ui_mode_next] 
input_map[ui_mode_pred] 
input_map[ui_keyboard] 
input_map[ui_reset_machine] keyboard[0,enter] keyboard[0,down]
input_map[ui_cocktail] keyboard[0,rcontrol] keyboard[0,left]
input_map[ui_help] keyboard[0,enter] keyboard[0,left]
input_map[p1_button1] keyboard[0,lcontrol]
input_map[p1_button2] keyboard[0,space]
input_map[p1_button3] keyboard[0,e]
input_map[p1_button4] keyboard[0,lalt]
input_map[p1_button5] keyboard[0,lshift]
input_map[p1_button6] keyboard[0,t]
