.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;

  h3 {
    line-height: 40px;
  }

  p {
    margin-bottom: 4rem;
  }
}

.featureSvg {
  height: 200px;
  width: 200px;
}