name: Check build
on:
  merge_group:
  pull_request:
    paths-ignore:
      - '**/README.md'
      - 'website/'

jobs:
  build:
    name: Check build
    runs-on: ubuntu-latest
    container:
      image: aemiii91/miyoomini-toolchain:latest
      options: --user root
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Build
      shell: bash
      run: |
        source /root/.bashrc
        make build
