name: Pre-release

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'

jobs:
  pre-release:
    name: Pre-release
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/onionui/miyoomini-toolchain:latest
      options: --user root
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Get version
      run: echo "BUILD_VERSION=$(make version)" >> $GITHUB_ENV
    - name: Build release
      shell: bash
      run: |
        source /root/.bashrc
        make release
    - uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        automatic_release_tag: latest
        prerelease: true
        title: "Development Build"
        files: |
          release/Onion-v${{ env.BUILD_VERSION }}.zip
