name: Tagged release

on:
  push:
    tags:
      - v*

jobs:
  tagged-release:
    name: Tagged release
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/onionui/miyoomini-toolchain:latest
      options: --user root
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Get version
      run: |
        VERSION="${{ github.ref_name }}"
        echo "BUILD_VERSION=${VERSION:1}" >> $GITHUB_ENV
    - name: Build release
      shell: bash
      run: |
        source /root/.bashrc
        VERSION_OVERRIDE=${{ env.BUILD_VERSION }} make release
    - uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        prerelease: false
        draft: true
        title: "Onion V${{ env.BUILD_VERSION }}"
        files: |
          release/Onion-v${{ env.BUILD_VERSION }}.zip
